{test_dir, "java_test"}.

{mode, max}.

{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_riakc_java}.

%% {code_paths, ["deps/stats"]}.

{key_generator, {int_to_bin, {uniform_int, 100000}}}.

{value_generator, {fixed_bin, 10000}}.

{riakc_java_nodes, [{'java@127.0.0.1', {127,0,0,1}, 8087}]}.

{riakc_java_replies, 1}.

{operations, [{get, 1}, {update, 1}]}.